{% extends 'layout.html'%}
{% block title %} {{show.name}} {% endblock %}
{% block content %}

<div class="container mt-5 ">
    <div class="card base-container-bg">
        <h3 class="text-center">{{show.name}}</h3>
        <div class="card-body">
            <html>
            {{show.summary}}

            </html>
        </div>
    </div>
</div>
<div class="container mt-5 text-center">
    <h3>Seasons</h3>
    <div class="row justify-content-left">
        {% for s in show.seasons %}
        <div class="card base-container-bg col-md-12">
            <div class="card-body ">
                <button class="btn season-btn" type="button" data-toggle="collapse"
                    data-target="#season{{s.season_num}}" aria-expanded="false" aria-controls="{{s.season_num}}">
                    {{s.season_num}}</button>
                {% if True  %}
                <a href={{url_for('shows.watch_season', id=show.id)}}><i id='{{s.id}} {{session['username']}}'
                        class="fas fa-square"></i></a>

                {% else %}
                <i id='{{s.id}} {{session['username']}}' class="far fa-square"></i>
                {% endif %}
            </div>
        </div>
        <div class="collapse multi-collapse" id="season{{s.season_num}}">
            <div class="row">

                <ul class="list-group list-group-horizontal-md ">
                    <div class="row justify-content-center">
                        {% for e in s.episodes %}

                        <li class="list-group-item col-md-2 m-1">
                            {{e.name}}
                            {% if e.watched  %}
                            <i id='{{e.id}} {{session['username']}}' class="fas fa-square"></i>
                            {% else %}
                            <i id='{{e.id}} {{session['username']}}' class="far fa-square"></i>
                            {% endif %}
                        </li>

                        {% endfor %}
                    </div>
                </ul>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<div class="container mt-5 base-container-bg text-center">
    <h3>Vids</h3>
    {% for v in vids %}
    <p>{{V}}</p>
    {% endfor %}
</div>



{% endblock%}
{% block scripts%}
<script src="../static/show.js"></script>
{% endblock %}