{% extends 'layout.html'%}
{% block title %} {{show.name}} {% endblock %}
{% block content %}

<div class="container mt-5 ">
    <div class="card base-container-bg">
        <h3 class="text-center">{{show.name}}</h3>
        <div class="card-body show-detail">
            <html>
            {{show.summary}}

            </html>
        </div>
    </div>
</div>
<div class="container mt-5 text-center">
    <h3>Seasons</h3>
    <div class="row justify-content-left">
        {% for s in show.seasons %}
        <div class="card base-container-bg col-md-12">
            <div class="card-body season-list ">
                <button class="btn season-btn" type="button" data-toggle="collapse"
                    data-target="#season{{s.season_num}}" aria-expanded="false" aria-controls="{{s.season_num}}">
                    Season {{s.season_num}}</button>
                <span> Mark season Watched: </span>

                {% if s.watched%}
                {% for u in s.watched %}
                {% if u.user_id == session['username'] %}
                {% if u.finished %}
                <span class="my-5" href={{url_for('shows.watch_season', id=show.id)}}><i
                        id='{{s.season_num}} {{show.id}} {{s.id}}' class="fas fa-square"></i></span>

                {% else %}
                <span class="my-5" href={{url_for('shows.watch_season', id=show.id)}}><i
                        id='{{s.season_num}} {{show.id}} {{s.id}}' class="far fa-square"></i></span>
                {% endif %}
                {% elif u.user_id != session['username'] and loop.index0 == s.watched|length - 1 %}
                <span class="my-5" href={{url_for('shows.watch_season', id=show.id)}}><i
                        id='{{s.season_num}} {{show.id}} {{s.id}}' class="far fa-square"></i></span>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if not s.watched %}
                <span class="my-5" href={{url_for('shows.watch_season', id=show.id)}}><i
                        id='{{s.season_num}} {{show.id}} {{s.id}}' class="far fa-square"></i></span>
                {% endif %}

            </div>
        </div>
        <div class="collapse multi-collapse" id="season{{s.season_num}}">
            <div class="row">

                <ul class="list-group list-group-horizontal-md ">
                    <div class="row justify-content-center">
                        {% for e in s.episodes %}

                        <li class="list-group-item col-md-2 m-1">
                            {{e.name}}
                            {% if e.watched%}
                            {% for u in e.watched %}
                            {% if u.user_id == session['username'] %}
                            {% if u.finished %}
                            <i id='{{e.id}} {{session['username']}}' class="fas fa-square {{s.season_num}}"></i>

                            {% else %}
                            <i id='{{e.id}} {{session['username']}}' class="far fa-square {{s.season_num}}"></i>
                            {% endif %}
                            {% elif u.user_id != session['username'] and loop.index0 == e.watched|length - 1 %}
                            <i id='{{e.id}} {{session['username']}}' class="far fa-square {{s.season_num}}"></i>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% if not e.watched %}
                            <i id='{{e.id}} {{session['username']}}' class="far fa-square {{s.season_num}}"></i>
                            {% endif %}
                        </li>

                        {% endfor %}
                    </div>
                </ul>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<div class="container mt-5 text-center">
    <h3 class="show-card">Previews</h3>
    <div class="row justify-content-around">
        {% for v in vid %}
        <iframe class="col-md-6 my-1" src={{v.vid_url}} width="400" height="240" frameborder="0"
            allowfullscreen></iframe>
        {% endfor %}
    </div>
</div>





{% endblock%}
{% block scripts%}
<script>
    a = $(".show-detail").text()
    $(".show-detail").html(a)
</script>
<script src="../static/show.js"></script>
{% endblock %}