body {
    background: url(./imgs/landing-movie.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #D4AF37;
}

.nav-color {
    color: #D4AF37;
    font-weight: 500;
}

.navbar-bg {
    background-color: #36313dcc;
}