body {
    background: url(./imgs/landing-movie.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #D4AF37;
}

.nav-color {
    color: #D4AF37;
    font-weight: 500;
}

.navbar-bg {
    background-color: #36313dcc;
}

.user-dash-section {
    background-color: #36313dcc;
}

.show-card {
    background-color: #36313dcc;
}

.form-button {
    background-color: #36313dcc;
    color: #D4AF37;
    /* #c0c0c0; */
}

.register-container {
    background-color: #36313dcc;
}

.base-container-bg {
    background-color: #36313dcc;
}

.cd-img {
    height: 10rem;
    width: 7rem;
}