{% extends 'layout.html' %}
{% block title %} Dashboard {% endblock %}
{% block content%}
<div class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-md-2 my-4 user-dash-section align-self-baseline">
            <table class="center-table">
                <thead>
                    <th>Interested Shows
                        <hr>
                    </th>

                </thead>
                <tbody>
                    {% for s in shows %}
                    {% if not s.watching %}
                    <tr>
                        <td>
                            <div class="text-center">{{s.shows.name}}</div>
                            <a href={{url_for('shows.remove_show', id=s.shows.id)}} class="btn dash-icons"><span>
                                    <i class="far fa-trash-alt fa-sm"></i>
                                </span></a>
                            <a href={{url_for('shows.submit', id = s.shows.id)}} class="text-p">Detail</a>
                            <a href={{url_for('shows.cur_watching_show', id=s.shows.id)}} class="btn dash-icons"><span>
                                    <i class="fas fa-chevron-right fa-sm"></i>
                                </span></a>

                            <hr style="color: silver;">
                        </td>

                    </tr>
                    {% endif %}
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="col-md-6 my-4 user-dash-section justify-content-center align-self-baseline">
            <table class="center-table">
                <thead>
                    <th>Currently Watching
                        <hr>
                    </th>
                </thead>

                <tbody>
                    {% if shows|length == 0 %}
                    <tr>
                        <td>
                            <p>No shows found</p>
                        </td>
                    </tr>
                    {% endif %}
                    {% for s in shows %}
                    {% if s.watching %}
                    <tr>
                        <td>
                            <a href={{url_for('shows.submit', id = s.shows.id)}} class="text-p">{{s.shows.name}}</a>
                            <!-- <span> {{s.shows.episodes| length}}</span> -->
                            <a href={{url_for('shows.remove_watching', id=s.shows.id)}} class="dash-icons ml-4">
                                <span><i class="far fa-times-circle "></i> </span></a>
                            <hr>
                        </td>
                    </tr>

                    {% endif %}
                    {% endfor%}
                </tbody>
            </table>
        </div>
        <div class="col-md-2 my-4 user-dash-section align-self-baseline d-none d-lg-block ">
            <table class="center-table">
                <thead>
                    <th>Top Shows on site
                        <hr>
                    </th>

                </thead>
                <tbody>
                    {% for show in top_shows %}
                    <tr>
                        <td>
                            <a href={{url_for('shows.submit', id = show['show_id'])}}
                                class="text-p">{{show['name']}}</a>
                            <hr>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock%}