{% extends 'layout.html' %}
{% block title %} Your Profile {% endblock %}
{% block content%}
<div class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-md-2 user-dash-section">
            <table>
                <thead>
                    <th>Interested Shows</th>
                </thead>
                <tbody>
                    {% for s in shows %}
                    <tr>
                        <td>
                            <a href={{url_for('shows.submit', id = s.shows.id)}}>{{s.shows.name}}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6 user-dash-section">
            <table class="text-center">
                <thead>
                    <th>Currently Watching Shows</th>
                </thead>

            </table>
        </div>
        <div class="col-md-2 user-dash-section">
            <table>
                <thead>
                    <th>Top Shows on site</th>
                </thead>
            </table>
        </div>
    </div>

</div>
{% endblock%}