{% extends 'base.html' %}

{% block nav_search %}
<li class="nav-item ">
    <form class="navbar-form" action="/shows/nav_search">
        <div class="input-group">
            <input name="q" class="form-control" placeholder="Search For shows" id="search"
                aria-describedby="basic-addon2">
            <button class="btn btn-outline-secondary nav-search--btn" ><i class="fas fa-search"
                    id="basic-addon2"></i></button>
        </div>
    </form>
</li>
{% endblock %}